<!DOCTYPE html>
<html >
<head>
  <meta charset="UTF-8">
  <title>Customer Sentiment Analysis</title>
  <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='css/style.css') }}">
  <link href="https://fonts.googleapis.com/css?family=Open+Sans&display=swap" rel="stylesheet">
</head>
<body>
  <div class="nav">
    <ul style="list-style-type: none;  margin: 0; padding: 0; overflow: hidden; background-color: #333;">
        <li style="float:left; display: block; color: rgb(255, 255, 255);text-align: center;padding: 14px 16px;text-decoration: none;"><a href="/">  HOME   </a></li>
        <li style="float:left; display: block; color: white;text-align: center;padding: 14px 16px;text-decoration: none;"><a href="/customer">  Sentiment Analysis  </a></li>
        <li style="float:left; display: block; color: white;text-align: center;padding: 14px 16px;text-decoration: none;"><a href="/bng">  BNG  </a></li>
        <li style="float:left; display: block; color: white;text-align: center;padding: 14px 16px;text-decoration: none;"><a href="/churn">  Customer churn  </a></li>

    </ul>
</div>
    <h1>About this web-app</h1>
    <div class="about">
      This web app is a data-science oriented. <br><br>
      <b>Industry Vertical - Telecom Industry </b><br>
      
    </div>
    <div id = "introduction" style ="text-align: left; padding: 14px" >
      <br> Introduction:<br>

      <br><b>Telecom industry use data science applications:</b><br>
      
      ❏	To streamline the flow of operations.<br>
      ❏	To maximize the profits.<br>
      ❏	To build effective marketing and business strategies.<br>
      ❏	To visualize data.<br>
      ❏	To perform data transfer faster and many other use cases.<br>
    </div>
    <div id ="telecom">
      <a style="background-color: #f44336;
      color: white;
      padding: 14px 25px;
      text-align: center;
      text-decoration: none;
      display: inline-block;" href="/abouttelecom"> Use cases in Telecom Industry</a><br>
      <br>

      <div id ="churn" style="text-align: left;">
      <a style="background-color: #f44336;
      color: white;
      padding: 14px 25px;
      text-align: left;
      text-decoration: none;
      display: inline-block;" href="/aboutchurn"> Churn</a>
      </div>

    </div>

    
      
      

      
    
</body>
</html>