<!DOCTYPE html>
<html >
<head>
  <meta charset="UTF-8">
  <title>Customer Sentiment Analysis</title>
  <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='css/style.css') }}">
  <link href="https://fonts.googleapis.com/css?family=Open+Sans&display=swap" rel="stylesheet">
</head>
<body>
    <div class="nav">
        <ul style="list-style-type: none;  margin: 0; padding: 0; overflow: hidden; background-color: #333;">
            <li style="float:left; display: block; color: rgb(255, 255, 255);text-align: center;padding: 14px 16px;text-decoration: none;"><a href="/">  HOME   </a></li>
            <li style="float:left; display: block; color: white;text-align: center;padding: 14px 16px;text-decoration: none;"><a href="/customer">  Sentiment Analysis  </a></li>
            <li style="float:left; display: block; color: white;text-align: center;padding: 14px 16px;text-decoration: none;"><a href="/bng">  BNG  </a></li>
            <li style="float:left; display: block; color: white;text-align: center;padding: 14px 16px;text-decoration: none;"><a href="/churn">  Customer churn  </a></li>
    
        </ul>
    </div>
<div>
    <h1>CUSTOMER SENTIMENT ANALYSIS</h1>
    
</div>
</div>
<div id="content">
    <ul>
        <li style="text-align: left;">It is always necessary to know the feedback from your customers. </li>                           
        <li style="text-align: left;"> Virtually conduct a sentiment analysis based on a text input.</li>   
        <li style="text-align: left;">Predicts an overall sentiment , tone or emotional feeling.</li> 
        <li style="text-align: left;">Give you a sentiment score.</li>
        <li style="text-align: left;">Great tool for companies to know the intent behind the confusing response from a customer. </li>
    </ul>
    

    
    </ul>
    <h4 style="text-align: left;">Benefits of Customer Sentiment Analysis</h4>
    <ul>
        <li style="text-align: left;">Customer service: 
            <ul>
                <li style="text-align: left;"> Negative reviews have potential to shut down a business . </li>                        
                <li style="text-align: left;">Deal with small issues before they become major issues.</li>
                <li style="text-align: left;">Customer feedback and reviews are pivotal when good. </li>
                <li style="text-align: left;">When bad , we need a strategy in place to deal with them.</li>
            </ul>
        </li>
        <li style="text-align: left;">Audience Insights: 
            <ul>
                <li style="text-align: left;"> Businesses should know what customers really wanted. </li>                        
                <li style="text-align: left;">Use social media to get information.</li>
                <li style="text-align: left;">Keep an eye on how competitors are doing with the situation. </li>
                <li style="text-align: left;">Stay ahead of the customer experience game. </li>
            </ul>
        </li>
        
    </ul>

</div>

    
      
      
<div>
    <a style="background-color: #f44336;
    color: white;
    padding: 14px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;"href="/about"> Back </a>
    </div>
  <br>
    <a href='https://medium.com/@b18050/customer-sentiment-analysis-97f24b240b50'> Medium Post</a>
    
</body>
</html>