<!DOCTYPE html>
<html >
<head>
  <meta charset="UTF-8">
  <title>Customer Churn</title>
  <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='css/style.css') }}">
  <link href="https://fonts.googleapis.com/css?family=Open+Sans&display=swap" rel="stylesheet">
</head>
<body>
    <div class="nav">
        <ul style="list-style-type: none;  margin: 0; padding: 0; overflow: hidden; background-color: #333;">
            <li style="float:left; display: block; color: rgb(255, 255, 255);text-align: center;padding: 14px 16px;text-decoration: none;"><a href="/">  HOME   </a></li>
            <li style="float:left; display: block; color: white;text-align: center;padding: 14px 16px;text-decoration: none;"><a href="/customer">  Sentiment Analysis  </a></li>
            <li style="float:left; display: block; color: white;text-align: center;padding: 14px 16px;text-decoration: none;"><a href="/bng">  BNG  </a></li>
            <li style="float:left; display: block; color: white;text-align: center;padding: 14px 16px;text-decoration: none;"><a href="/churn">  Customer churn  </a></li>
    
        </ul>
    </div>
<div>
    <h1> Customer Churn </h1>

</div>
<div id="content">
    <ul>
        <li style="text-align: left;">bitter truth that every vertical has to deal with. </li>                           
        <li style="text-align: left;">Address at risk customer :  It is now very easy to know customers at risk, designing right retention strategies for each user takes time.</li>
        <li style="text-align: left;"> Strategy :
            <ul>Two stages :   
                <li style="text-align: left;">Churn in customer’s mind.</li> 
                <li style="text-align: left;">Actual churn (connection terminated).</li>
            </ul>
        </li>
    </ul>
    <h2 style="text-align: left;">Specific Model for each user</h2>
    <ul>
        <li style="text-align: left;"> on the period of non-usage of service.  </li>                        
        <li style="text-align: left;">Non use time period: Time period of inactivity is chosen , any user with this is categorised as infected.</li>
        <li style="text-align: left;">Specific ML model for each user : highlight variables which may lead to churn. e.g. monthly charges, tenure , Internet service uses, feedback,etc. </li>
        <li style="text-align: left;">Model works at client level.</li>
    </ul>

</div>
    
      
      
<div>
    <a style="background-color: #f44336;
    color: white;
    padding: 14px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;"href="/about"> Back </a>
    </div>
    <br>
    <a href='https://medium.com/@b18050/customer-churn-8b6da705329'>Medium Post</a>
      
    
</body>
</html>