<!DOCTYPE html>
<html >
<head>
  <meta charset="UTF-8">
  <title>About BNG</title>
  <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='css/style.css') }}">
  <link href="https://fonts.googleapis.com/css?family=Open+Sans&display=swap" rel="stylesheet">
</head>
<body>
    <div class="nav">
        <ul style="list-style-type: none;  margin: 0; padding: 0; overflow: hidden; background-color: #333;">
            <li style="float:left; display: block; color: rgb(255, 255, 255);text-align: center;padding: 14px 16px;text-decoration: none;"><a href="/">  HOME   </a></li>
            <li style="float:left; display: block; color: white;text-align: center;padding: 14px 16px;text-decoration: none;"><a href="/customer">  Sentiment Analysis  </a></li>
            <li style="float:left; display: block; color: white;text-align: center;padding: 14px 16px;text-decoration: none;"><a href="/bng">  BNG  </a></li>
            <li style="float:left; display: block; color: white;text-align: center;padding: 14px 16px;text-decoration: none;"><a href="/churn">  Customer churn  </a></li>
    
        </ul>
    </div>
<div>
    <h1>Predictive Analysis</h1>

</div>
<div id="content">
    <ul style="text-align: left;">NEED IN TELECOM : 
        <ul>
            <li style="text-align: left;">Telecom Industry is advancing , service and plans evolving at such a fast rate than any other vertical.</li>
            <li style="text-align: left;">HOW DO COMPANIES GAIN A COMPETITIVE EDGE Predictive Analysis helps companies to gain insights they need to make better , faster and more effective decisions.</li>
            <li style="text-align: left;">Predictive analytics USE CASES:
                <ul style="text-align: left;">
                    <li style="text-align: left;">Analytical Customer Relationship Management </li>
                    <li style="text-align: left;">Fraud Reduction</li>
                    <li style="text-align: left;">Bad Debt Reduction</li>
                    <li style="text-align: left;">Price Optimisation</li>
                    <li style="text-align: left;">Call Centre Optimisation</li>
                </ul>
            </li>
        </ul>
</div>

<div id="content">
    <ul style="text-align: left;">About BNG: 
        <ul>
            <li style="text-align: left;">BNG stands for broadband gateway network.</li>
            <li style="text-align: left;">This dataset contains data of performance of a broadband gateway network (BNG) device.</li>
            <li style="text-align: left;">BNG is access point for subscribers, through which they connect to the broadband network. </li>
            <li style="text-align: left;">When a connection is established between BNG device and Customer Premise Equipment (CPE), the subscriber can access the broadband services provided by the Network Service Provider (NSP) .</li>
            <li style="text-align: left;">A network management company monitors the performance of each of the BNG devices to provide better services</li>
            <li style="text-align: left;">The device records different performance measures (PMs) for every 15 minutes.</li>
           
        </ul>
</div>
    
      
      
<div>
    <a style="background-color: #f44336;
    color: white;
    padding: 14px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;"href="/about"> Back </a>
    </div>
  
      
    
</body>
</html>