<!DOCTYPE html>
<html >
<head>
  <meta charset="UTF-8">
  <title>Customer Sentiment Analysis</title>
  <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='css/style.css') }}">
  <link href="https://fonts.googleapis.com/css?family=Open+Sans&display=swap" rel="stylesheet">
</head>
<body>
    <div class="nav">
        <ul style="list-style-type: none;  margin: 0; padding: 0; overflow: hidden; background-color: #333;">
            <li style="float:left; display: block; color: rgb(255, 255, 255);text-align: center;padding: 14px 16px;text-decoration: none;"><a href="/">  HOME   </a></li>
            <li style="float:left; display: block; color: white;text-align: center;padding: 14px 16px;text-decoration: none;"><a href="/customer">  Sentiment Analysis  </a></li>
            <li style="float:left; display: block; color: white;text-align: center;padding: 14px 16px;text-decoration: none;"><a href="/bng">  BNG  </a></li>
            <li style="float:left; display: block; color: white;text-align: center;padding: 14px 16px;text-decoration: none;"><a href="/churn">  Customer churn  </a></li>
    
        </ul>
    </div>
    <br>
    <div id = "usecases" style ="text-align: left; padding: 14px font-size: 18px;">
        <b><u>Use cases in the field of Telecommunication:</b></u><br><br>
    
➢	<b>Fraud Detection:</b> 
    <div id="row" style ="font-size: 14px;" >
        This provides real time response to suspicious activity. Fraud has a direct relationship between the company and the customer. Using unsupervised machine learning algorithms on customer and operator data, it defines anomalies  and using data visualization techniques present them as alerts to analysts in real time.<br><br>
</div>
➢	<b>Predictive analysis:
    <div id="row" style ="font-size: 14px;" ></div></b> 
        Using data to know about customer preferences, make data-driven decisions etc companies get valuable insights to become better and faster.<br><br>
	
➢	<b>Network management and optimization:
    <div id="row" style ="font-size: 14px;" >
</b> Using historical data to predict possible future problems , companies guarantee a smooth functioning of operations . It also helps in finding the root cause of these complications.<br><br>

➢	<b>Recommendation engines:
    <div id="row" style ="font-size: 14px;" >
</b> Using data related to customer’s behaviour and making a prediction about possible future needs of products or service. People with similar profiles may have similar needs and make similar choices. This can be achieved by using filters based on content and collaboration. In content-based filtering , relations between  different attributes are used to recommend the services or items.<br><br>

➢	<b>Customer sentiment analysis:
    <div id="row" style ="font-size: 14px;" >
</b> Using customer feedback, it is now possible to analyze the customer's positive or negative reaction to the service or products. Telecoms use them to react to customer's problematic issues in real time.<br><br>

➢	<b>Real time analytics:
    <div id="row" style ="font-size: 18px;" >
</b> With rapid development of the internet, companies face the challenge of constantly changing customer requirements. The traffic gets more active every day. Using analytic solutions to continuously analyze and correlate data to generate response action in real time mode.<br><br>
</b>
    </div> 
    <div>
      <a style="background-color: #f44336;
      color: white;
      padding: 14px 25px;
      text-align: center;
      text-decoration: none;
      display: inline-block;"href="/about"> Back </a>
      </div>
    
</body>
</html>