<!DOCTYPE html>
<html >

<head>
  <meta charset="UTF-8">
  <title>ML API</title>
  <link href='https://fonts.googleapis.com/css?family=Pacifico' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Arimo' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Hind:300' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
  
</head>

<body>
 <div class="login">
	<h1>Predict BNG requirements </h1>

     <!-- Main Input For Receiving Query to our ML -->
    <form action="{{ url_for('bngpredict')}}"method="post">
    	<input type="text" name="auth_count" placeholder="Number of Subscribers" required="required" />
        <input type="text" name="bandwidth" placeholder="Bandwidth e.g. 200" required="required" />
		<input type="text" name="PPS" placeholder="packets per second" required="required" />

        <button type="submit" class="btn btn-primary btn-block btn-large">Predict</button>
    </form>
    <br>
    <a href="/bng"> <u> Clear the screen </u></a></h2></b>

   <br>
   <br>
   {{ memory_text }}
   <br>
   {{ processor_text }}
   
 </div>
 <div class="nav">
  <b><a href="/"> <u> HOME </u></a></b>
  <b><h2><a href="/customer">Customer sentiment Analysis</a></h2></b>
  <h2><b><a href="/about">About</a></h2></b>
 </div>
 

</body>
</html>
