<!DOCTYPE html>
<html >
<head>
  <meta charset="UTF-8">
  <title>Customer Sentiment Analysis</title>
  <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='css/style.css') }}">
  <link href="https://fonts.googleapis.com/css?family=Open+Sans&display=swap" rel="stylesheet">
  </head>
<body>
    
    <h1>Predict Customer Analysis</h1>
    <div class="customer">
        <form action="{{ url_for('sentimentpredict')}}"method="post">
    
            <textarea id="input_text" name="input_text" placeholder="Type something!"></textarea>
            <button type="submit" class="pred-btn btn btn-primary btn-block btn-large">Predict</button>
        </form>
        {{ customer_text }}
    </div>
</body>
</html>