<!DOCTYPE html>
<html >

<head>
  <meta charset="UTF-8">
  <title>ML API</title>
  
  <link rel="stylesheet" href="{{ url_for('static', filename='css/home.css') }}"> 
  
</head>

<body style="background-image: url('../static/css/tower.jpg');background-repeat: no-repeat;
background-attachment: fixed;  
background-size: cover;">
 <div class='nav'>
  
	<h1 style="text-align:center; color: rgb(29, 6, 112); text-shadow: 0 0 10px rgba(0,0,0,0.3); letter-spacing:1px;border: 2px solid powderblue;
  padding: 30px;" >HCL Data Science Hackathon </h1>
  <br><br> <br>
  <p style="text-align:center">
    <a href="/customer">Customer sentiment Analysis</a><br><br><br>
    <a href="/about">About</a><br><br><br>
    <a href="/bng">BNG Predictor</a><br><br><br>
  </p>

 </div>


</body>
</html>
